/*variable*/

$blue_light:#1873b7;
 $blue:#0b67aa;
@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4
    }
    100% {
        -webkit-transform: translateY(0.4em);
        opacity: 0.9
    }
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 0.7;
        -webkit-transform: none;
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
        -webkit-transform: none;
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
}
html, body {
    background: #f0f3f3;
    color: #5c5c5c;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.wrapper, .main #main {
    float: left;
    clear: both;
    margin: 0px;
    padding: 0px 0px 0px;
    width: 100%;
}
#fullpage .table {
    margin-bottom: 0px;
}
.animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
}
.animated.hinge {
    -webkit-animation-duration: 1.2s;
}
header {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background: transparent;
    .top-nav {
        width: 100%;
        float: left;
        clear: both;
        background: $blue_light;
        height: 10px;
        .container {
            position: relative;
        }
        .top-nav__contact {
            height: 22px;
            width: 385px;
            color: #fff;
            position: absolute;
            top: 10px;
            right: 22px;
            text-align: center;
            background: $blue;
            a {
                color: #fff;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .top-nav__contact-left {
            width: 0;
            height: 0;
            position: absolute;
            top: 10px;
            right: 407px;
            border-style: solid;
            border-width: 0 22px 22px 0;
            border-color: transparent $blue transparent transparent;
        }
        .top-nav__contact-right {
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            top: 10px;
            right: 0px;
            border-width: 22px 0 0 22px;
            border-color: transparent transparent transparent $blue;
        }
    }
    .header__logo {
        float: left;
        margin-left: 25px;
        margin-top: 25px;
    }
    .header__menu {
        float: right;
        margin-top: 85px;
        .header__menu-item {
            color: #000;
            font-size: 18px;
            margin: 0px 15px;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
            -webkit-text-fill-color: #000;
            text-shadow: 2.5px 4.33px 5px rgba(0, 0, 0, 0.4);
            &:hover {
                color: #428bca;
                text-decoration: none;
                -webkit-text-fill-color: #428bca;
                -webkit-text-stroke-color: rgba(13, 104, 171, 0.5);
                text-shadow: 2.5px 4.33px 5px rgba(0, 0, 0, 0.7);
            }
        }
    }
    &.small-wapper {
        height: 90px;
        background: rgba(255, 255, 255, 0.5);
        .header__logo {
            margin-top: 5px;
            height: 70px;
            img {
                height: 100%;
            }
        }
        .header__menu {
            float: left;
            margin-top: 39px;
            margin-left: 100px;
            .header__menu-item {
                text-shadow: 2.5px 4.33px 5px rgba(0, 0, 0, .2);
                font-size: 15px;
                -webkit-text-stroke-width: initial;
                -webkit-text-stroke-color: initial;
                -webkit-text-fill-color: initial;
            }
        }
    }
}
$turquoise:rgba(255, 255, 255, 0.4);
 .scroll-down {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin-top: 550px;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-image: url(../../images/scrolldown.png);
    background-position: 50% 50%;
    border-radius: 50%;
    -webkit-animation: bounce 1s infinite;
    &:before, &:after {
        content: '';
        position: absolute;
    }
    &:after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-animation: glow 1s infinite;
    }
    &:hover {
        text-decoration: none;
    }
}
@-webkit-keyframes bounce {
    0%, 100% {
        transform: translateY(-3%);
        background-position: 50% 48%;
    }
    50% {
        transform: translateY(3%);
        background-position: 50% 52%;
    }
}
@-webkit-keyframes glow {
    20% {
        box-shadow: 0 0 0 0 rgba($turquoise, .3), inset 0 0 0 0 rgba($turquoise, .3);
    }
    100% {
        box-shadow: 0 0 0 50px rgba($turquoise, 0), inset 0 0 0 12px rgba($turquoise, 0);
    }
}
.pages {
    text-align: center;
    .pages__home {
        background: url(../../images/bg-home.jpg) center no-repeat;
        .pages_hone-slogan_bg {
            float: left;
            width: 100%;
            height: 300px;
            background: #fff;
            opacity: 0.7;
            position: absolute;
            top: 35%;
        }
        .pages_hone-slogan_content {
            position: absolute;
            top: 35%;
            padding-top: 40px;
            width: 100%;
            h1 {
                font-size: 60px;
                color: rgb(46, 45, 45);
                z-index: 15;
            }
            h3 {
                font-size: 20px;
                color: rgb(46, 45, 45);
            }
            a {
                font-size: 20px;
                color: #db4612;
                font-weight: bold;
                text-decoration: none;
                &:hover {
                    color: #db4612;
                }
            }
            .hr {
                width: 70%;
                height: 1px;
                background: #0d9ac3;
                display: block;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
    .pages__we_can_help {
        background: url(../../images/services-background.png);
        h2 {
            font-family: Lato, sans-serif;
            font-weight: 300;
            font-size: 40px;
            color: #262626;
            margin: 100px 0 10px 0;
        }
        p{
            color: #262626;
            font-size: 15px;
            margin-top: 10px;
            line-height: 25px;
        }
        .col-lg-4 p{
            margin-top: 20px;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            line-height: 22px;
            text-align: justify;
        }
        a{
            display: block;
            vertical-align: bottom;
            height: 110px;
            clear: both;
            &:hover{
                text-decoration: none;
                background-position: center -150px !important; text-decoration: none; color:#cc292c;
            }
            &.e-commerce { background: transparent url(../../images/magento-btn.png) 50% 0 no-repeat; }
            &.mobile-web { background: transparent url(../../images/mobile-web-btn.png) 50% 0 no-repeat; }
            &.hire-a-team { background: transparent url(../../images/team-btn.png) 50% 0 no-repeat; }
            h3 {
                position: relative;
                bottom: -88px;
                text-decoration: none;
                font-size: 32px;
                color: #d4232b ;
                line-height: 27px;
                &:hover { color:#cc292c; }
            }
        }
        .product-list {
            margin: 0 auto 24px;
            padding: 0;
            border-spacing: 12px;
            width: 1004px;
            display: table;
            list-style: none;
            overflow: hidden;
            li {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                display: table-cell;
                width: 112px;
                span {
                    display: block;
                    text-indent: -9999px;
                    overflow: hidden;
                    width: 100%;
                    height: 113px;
                    background: #fff url(../../images/bg-product-list.png) 50% -91px no-repeat;
                    -webkit-box-shadow: 0 1px 0 0 #cdd1d2;
                    box-shadow: 0 1px 0 0 #cdd1d2;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    &.jquery {
                        background-position: 50% 46px;
                    }
                    &.email {
                        background-position: 50% -206px;
                    }
                    &.wp {
                        background-position: 50% -331px;
                    }
                    &.drupal {
                        background-position: 50% -453px;
                    }
                    &.joomla {
                        background-position: 50% -571px;
                    }
                    &.magento {
                        background-position: 50% -696px;
                    }
                    &.shopify {
                        background-position: 50% -820px;
                    }
                }
            }
        }
    }
    .pages__what_we_do {
        background:#5e5d58 url(../../images/what_we_do.jpg) center no-repeat;
        .pages__what_we_do_header-title,.pages__what_we_do_bottom-title{
            width: 100%;
            height: 90px;
            background:rgba(0, 0, 0, .7);
            color: #fff;
            display: block;
            h2{
                font-size: 30px;
                margin-top: 15px;
                font-family: Lato,sans-serif;
                font-weight: 300;
                margin-bottom: 5px;
                display: inline-block;
            }
            p{
                font-size: 15px;
            }
        }
        .pages__what_we_do_header-title{
            position:absolute;
            left: 0px;
            top:150px;
        }
        .pages__what_we_do_bottom-title{
            position:absolute;
            left: 0px;
            bottom:0px;
        }
        .list-project-min{
            float: left;
            width: 80%;
            margin: 0 0 0 10%;
            text-align: left;
            position:absolute;
            left: 0px;
            bottom:0px;
            padding: 0px;
            li{
                height: 397px;
                float: left;
                position: relative;
                width: 25%;
                list-style: none;
                -webkit-transition: all 0.25s 0s ease;
                transition: all 0.25s 0s ease;
                a{
                    float: left;
                    width: 100%;
                    height: 100%;
                    display: block;
                    bottom:0px;
                    position: absolute;
                    overflow: hidden;
                    padding: 0px 40px;
                }
                h2{
                    position: absolute;
                    left: 40px;
                    right: 40px;
                    bottom: 20px;
                    text-align: center;
                    color: #fff;
                    font-size: 1.5em;
                    line-height: 32px;
                    font-weight: 700;
                      font-family: 'Open Sans';
                    -webkit-transition: all 0.25s 0s ease;
                    transition: all 0.25s 0s ease;
                }
                figure {
                    float: left;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    top: 0;
                    -webkit-transition: all 0.25s 0s ease;
                    transition: all 0.25s 0s ease;
                    .preview {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom: 90px;
                        -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
                        box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
                        -webkit-transition: all 0.25s 0s ease;
                        transition: all 0.25s 0s ease;
                    }
                }
                .readMore {
                    height: 80px;
                    line-height: 80px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: none;
                    width: 100%;
                    padding: 0 40px;
                    color: #fff;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                    border-bottom: 1px solid #384452;
                    -webkit-transition: all 0.25s 0s ease;
                    transition: all 0.25s 0s ease;
                }
            }
        }
    }
    .pages__who_we_are {
        background: #EEEEEE;
    }
    .pages__get_in_touch {
        background: url(../../images/services-background.png);
        .working-list {
            margin: 0 auto 24px;
            padding: 0;
            border-spacing: 12px;
            display: table;
            list-style: none;
            li {
                display: table-cell;
                padding: 10px;
                span {
                    display: block;
                    font-size: 16px;
                    color: #aaaaaa;
                    img {
                        padding-right: 5px;
                        position: relative;
                        top: -3px;
                    }
                }
            }
        }
        .contact-text {
            font-weight: bold;
            font-size: 16px;
            .phone {
                padding-top: 20px;
                color: red;
            }
        }
    }
}
.back-to-top {
    position: absolute;
    bottom: 20px;
    right: 30px;
}
